<fieldset>
    <h1>Hangman: Wordle Edition</h1>
</fieldset>
<br>
<fieldset>
    <h1>Game Rules</h1>
    <p>
        1. Guess the word correctly to move onto the next round! Each round, the number of letters in the word will increase by 1.
        <br>
        <br>
        2. Each time you guess incorrectly, you'll lose a guess. Once you've used all your guesses, it's game over! Also, be sure to keep an eye on the clock. If it reaches zero before you've guessed the correct word, it's also game over!
        <br>
        <br>
        3. Letters in the correct positions will be colored green, while letters that are in the word but currently in the wrong position will be colored yellow.
        <br>
    </p>

    <form action="/" method="post">
        <button type="submit">Back</button>
    </form>
</fieldset>